#eatenburgers {
    text-align: right;
}

#wanttoeat {
    text-align: left;
}

h1 {
    text-align: center;
}

.create-form {
    text-align: center;
}

body {
    background-color: orange;
}

img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
